@import "tailwindcss";
@plugin "daisyui";

* {
	/* padding: 0;
	margin: 0; */
	box-sizing: border-box;
}
:root {
	--background: #ffffff;
	--foreground: #171717;
	--warm-wheat: #f5deb3;
	--soft-brown: #a9746e;
	--creamy-white: #fff8e7;
	--fresh-olive: #7b9b6e;
	--deep-charcoal: #3e3e3e;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-warm-wheat: var(--warm-wheat);
	--color-soft-brown: var(--soft-brown);
	--color-creamy-white: var(--creamy-white);
	--color-fresh-olive: var(--fresh-olive);
	--color-deep-charcoal: var(--deep-charcoal);

	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}
.navbar {
	padding: 0rem 1rem;
}

.menu {
	padding: 1rem 0;
}

.menu > .drawer-menu-item {
	padding: 0.5rem;
}
.menu > .menu-item {
	padding: 0.5rem 1rem;
}

html {
	background-color: var(--creamy-white);
	color: var(--deep-charcoal);
}
